<div style="height: 50vh;">
    <h1 style="font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;">User Details</h1>
    <div class="col-md-12" style="display: flex;">
        <div class="col-md-5">
            <div style="width: 270px;">
                <img src="../../../assets/images/second_profile.jpg" alt="" style="width:200px;height: 200px;">
            </div>
        </div>
        <div class="col-md-7">
            <ul class="list-group list-group-flush">
                <li class="list-group-item"><b>name</b>: ajoumou</li>
                <li class="list-group-item"><b>surname</b>: brandon</li>
                <li class="list-group-item"> <b>phone number</b>: 691635139</li>
                <li class="list-group-item"><b>email</b>: juniorajoumou@gmail.com</li>
                <li class="list-group-item"><b>password</b>: AJOUMOU04</li>
            </ul>

        </div>
    </div>

    <div style="float: end;padding: auto;" slot="end" style="justify-content:flex-end; display: flex;align-items: flex-end;">
        <button mat-stroked-button color="accent" slot="end" style="margin-right: 5px;">DELETE</button>

    </div>

</div>